
.btn-primary {
    --mdb-btn-color: #fff;
    --mdb-btn-bg: #3b71ca;
    --mdb-btn-border-color: #3b71ca;
    --mdb-btn-hover-color: #fff;
    --mdb-btn-hover-bg: #386bc0;
    --mdb-btn-hover-border-color: #2f5aa2;
    --mdb-btn-focus-shadow-rgb: 88, 134, 210;
    --mdb-btn-active-color: #fff;
    --mdb-btn-active-bg: #3566b6;
    --mdb-btn-active-border-color: #2c5598;
    --mdb-btn-active-shadow: 0 8px 9px -4px rgba(var(--mdb-box-shadow-color-rgb), 0.15), 0 4px 18px 0 rgba(var(--mdb-box-shadow-color-rgb), 0.1);
    --mdb-btn-disabled-color: #fff;
    --mdb-btn-disabled-bg: #3b71ca;
    --mdb-btn-disabled-border-color: #3b71ca;
  }
  
  .btn-primary {
    --mdb-btn-bg: #3b71ca;
    --mdb-btn-color: #fff;
    --mdb-btn-box-shadow: 0 4px 9px -4px #386bc0;
    --mdb-btn-hover-bg: #386bc0;
    --mdb-btn-hover-color: #fff;
    --mdb-btn-focus-bg: #386bc0;
    --mdb-btn-focus-color: #fff;
    --mdb-btn-active-bg: #3566b6;
    --mdb-btn-active-color: #fff;
    --mdb-btn-box-shadow-state: 0 8px 9px -4px rgba(56, 107, 192, 0.3), 0 4px 18px 0 rgba(56, 107, 192, 0.2);
  }
  
  :not(.btn-check)+.btn-primary:hover,
  .btn-primary:first-child:hover,
  .btn-primary:focus-visible,
  .btn-primary:hover {
    box-shadow: var(--mdb-btn-box-shadow-state);
  }
  
  .btn-check:focus-visible+.btn-primary,
  .btn-check:focus+.btn-primary,
  .btn-primary:focus {
    box-shadow: var(--mdb-btn-box-shadow-state);
    background-color: var(--mdb-btn-focus-bg);
  }
  
  .btn-check:checked+.btn-primary,
  .btn-check:active+.btn-primary,
  .btn-primary:active,
  .btn-primary.active,
  .btn-primary.show {
    box-shadow: var(--mdb-btn-box-shadow-state);
  }
  
  .btn-check:checked+.btn-primary:focus,
  .btn-check:active+.btn-primary:focus,
  .btn-primary:active:focus,
  .btn-primary.active:focus,
  .btn-primary.show:focus {
    box-shadow: var(--mdb-btn-box-shadow-state);
  }
  
  .btn-check:checked+.btn-primary:hover,
  .btn-check:active+.btn-primary:hover,
  .btn-primary:active:hover,
  .btn-primary.active:hover,
  .btn-primary.show:hover {
    background-color: var(--mdb-btn-active-bg);
  }
  
  .btn-primary:disabled,
  .btn-primary.disabled,
  fieldset:disabled .btn-primary {
    box-shadow: var(--mdb-btn-box-shadow);
  }
  
  [data-mdb-theme=dark] .btn-primary {
    box-shadow: 0 4px 9px -4px rgba(0, 0, 0, .35);
  }
  
  [data-mdb-theme=dark] .btn-primary:hover,
  [data-mdb-theme=dark] .btn-primary:active,
  [data-mdb-theme=dark] .btn-primary:focus {
    box-shadow: 0 4px 18px -2px rgba(0, 0, 0, .7);
  }
  
  .btn:hover {
    color: var(--mdb-btn-hover-color);
    background-color: var(--mdb-btn-hover-bg);
    border-color: var(--mdb-btn-hover-border-color);
  }