<!-- Page Content -->

<div class="container">

    <!-- Heading Row -->

    <div class="row align-items-center my-5">

      <div class="col-lg-7 text-center">

        <img class="img-fluid rounded mb-4 mb-lg-0" style="width: 70%;" src="assets/logo.png" alt="">

      </div>

      <!-- /.col-lg-8 -->

      <div class="col-lg-5">

        <h1 class="font-weight-light">World’s #1 Online Bootcamp</h1>

        <p>1,000,000 careers advanced <br>

            1,000 live classes every month <br>

            85% report career benefits including promotion or a new job</p>

        <a class="btn btn-primary" href="#">Explore Programs</a>

      </div>

      <!-- /.col-md-4 -->

    </div>

    <!-- /.row -->

    <!-- Call to Action Well -->

    <div class="card text-white bg-secondary my-5 py-4 text-center">

      <div class="card-body">

        <p class="text-white m-0" style="font-size: xx-large;">Get Certified, Get Ahead with Our Programs</p>

      </div>

    </div>


    <!-- Content Row -->

<div class="row">

    <div class="col-md-4 mb-5">

      <div class="card h-100">

        <div class="card-body">

          <h2 class="card-title">Post Graduate Program in Lean Six Sigma</h2>

          <p class="card-text">Duration: 6 months <br> Cohort starts: 04 Oct, 2020</p>

        </div>

        <div class="card-footer">

          <a href="https://www.simplilearn.com/pgp-lean-six-sigma-certification-training-course" class="btn btn-primary btn-sm">More Info</a>

        </div>

      </div>

    </div>

    <!-- /.col-md-4 -->

    <div class="col-md-4 mb-5">

      <div class="card h-100">

        <div class="card-body">

          <h2 class="card-title">Post Graduate Program in Full Stack Web Development</h2>

          <p class="card-text">Duration: 9 months <br> Cohort starts: 11 Oct, 2020</p>

        </div>

        <div class="card-footer">

          <a href="https://www.simplilearn.com/pgp-full-stack-web-development-certification-training-course" class="btn btn-primary btn-sm">More Info</a>

        </div>

      </div>

    </div>

    <!-- /.col-md-4 -->

    <div class="col-md-4 mb-5">

      <div class="card h-100">

        <div class="card-body">

          <h2 class="card-title">Post Graduate Program in Cyber Security</h2>

          <p class="card-text">Duration: 6 months <br>Cohort starts: 28 Sep, 2020</p>

        </div>

        <div class="card-footer">

          <a href="https://www.simplilearn.com/pgp-cyber-security-certification-training-course" class="btn btn-primary btn-sm">More Info</a>

        </div>

      </div>

    </div>

   <!-- /.col-md-4 -->

  </div>

  <!-- /.row -->

  <div class="card text-white my-5 py-4 text-center">

    <div class="center">



<video width="320" height="240" controls style="align-content: center;"> 



 <source src="https://www.youtube.com/watch?v=BI2BsmDvIyM" type="video/mp4"/>

      Your browser does not support the video tag.

</video> 

</div></div>

<div class="card-body text-center" id="youtube">

    <p class="text-white m-0" style="font-size: x-large; text-align: center;">

<a href="https://www.youtube.com/user/Simplilearn"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://upload.wikimedia.org/wikipedia/commons/e/e1/Logo_of_YouTube_%282015-2017%29.svg" width="150px" height="150px"></a></p>

<br><h4>Check Out Our YouTube Channel for Technical Videos and Tutorials</h4>

</div>

<!-- /.container -->

<!-- Footer -->

<footer class="py-3 bg-dark">

    <div class="container">

    <p class="m-0 text-center text-white">© 2009-2020 - Simplilearn Solutions. All Rights Reserved.</p>

    </div>

    <!-- /.container -->

</footer>